{% extends "base.html" %}

{% block styles %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/model.css') }}">
{% endblock %}
{% block content %}

<div class="container">
	
</div>

<h1>China National Space Administration	</h1>

<div>
	<h4>CountryCode: CHN</h4>
	<h4>Type: Government</h4>
	<h4>Abbreviation: CNSA</h4>
	<iframe scrolling="yes" height="500" width="100%" src="https://en.wikipedia.org/wiki/China_National_Space_Administration"></iframe>
</div>



{% endblock %}