{% extends "base.html" %}

{% block styles %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/model.css') }}">
{% endblock %}
{% block content %}

<div class="container">
	<h1>Mexican Space Agency</h1>

	<div>
		<h3>Country Code: MEX</h3>
		<h3>Type: Government</h3>
		<h3>Abbreviation: AEM</h3>
		<div class="row">
			<iframe scrolling="yes" height="500" width="100%" style="border: 1px solid gray" src="https://en.wikipedia.org/wiki/Agencia_Espacial_Mexicana"></iframe>
		</div>
	</div>
</div>

{% endblock %}