{% extends "base.html" %}

{% block styles %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/model.css') }}">
{% endblock %}
{% block content %}

<div class="container">
	<h1>Atlas V 401 | Cygnus CRS OA-7 (S.S. John Glenn)</h1>

	<div>
		<h4>Start: March 28, 2017</h4>
		<h4>Status: 1</h4>
		<h4>Rocket: Atlas V 401</h4>
		<h4><a href="{{url_for('agency_2')}}">Agency: Arianespace</a></h4>
		<h4><a href="{{url_for('location_2')}}">Location: Kourou, French Guiana</a></h4>
		<h4><a href="{{url_for('mission_2')}}">Mission: SGDC 1 &amp; Koreasat 7</a></h4>
	</div>
</div>




{% endblock %}