{% extends "base.html" %}

{% block styles %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/model.css') }}">
{% endblock %}
{% block content %}

<div class="container">
	<h1>Ariane 5 ECA | SGDC 1 &amp; Koreasat 7</h1>

	<div>
		<h4>Start: March 24, 2017</h4>
		<h4>Status: 1</h4>
		<h4>Rocket: Ariane 5 ECA</h4>
		<h4><a href="{{url_for('agency_1')}}">Agency: Arianespace</a></h4>
		<h4><a href="{{url_for('location_1')}}">Location: Kourou, French Guiana</h4>
		<h4><a href="{{url_for('mission_1')}}">Mission: SGDC 1 &amp; Koreasat 7</a></h4>
	</div>
	<img class="img-square" src="https://s3.amazonaws.com/launchlibrary/RocketImages/Ariane+5+ECA_1920.jpg" alt="Generic placeholder image" width="300" height="300">
</div>


{% endblock %}