{% extends "base.html" %}

{% block styles %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/model.css') }}">
{% endblock %}
{% block content %}

<div class="container">
	
</div>

<h1>Nuclear Spectroscopic Telescope Array (NuSTAR)</h1>

<div>
	<h4>Description</h4>
	<div>
	Designed to image high-energy X-ray radiation, the Nuclear Spectroscopic Telescope Array (NuSTAR) is tasked with surveying regions surrounding the center of own Milky Way Galaxy and performing deep observations of the extragalactic sky, studying black holes and supernovas.
	</div>
	<h4><a href="{{url_for('launches_1')}}">Launch: Pegasus XL | Nuclear Spectroscopic Telescope Array (NuSTAR)</a></h4>
	<h4>Type: Astrophysics</h4>
	<h4><a href="{{url_for('agency_1')}}">Agency: National Aeronautics and Space Administration</a></h4>
	<h4>Launch Date: June 13, 2012</h4>
</div>



{% endblock %}