{% extends "base.html" %}

{% block styles %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/model.css') }}">
{% endblock %}
{% block content %}

<div class="container">
	
</div>

<h1>Nuclear Spectroscopic Telescope Array (NuSTAR)</h1>

<div>
	<h4>Description</h4>
	<div>
	This was the third flight for the uncrewed Dragon cargo spacecaft and the first SpaceX mission under their Commercial Resupply Services contract with NASA. Dragon delivered various cargo to the staion, and returned after being berthed to the station for 17 days. The spacecraft landed in the Pacific Ocean and was recovered by SpaceX.
	</div>
	<h4><a href="{{url_for('launches_1')}}">Launch: Falcon 9 v1.0 | SpX CRS-1</a></h4>
	<h4>Type: Resupply</h4>
	<h4><a href="{{url_for('agency_1')}}">Agency: National Aeronautics and Space Administration</a></h4>
	<h4>Launch Date: October 8, 2012</h4>
</div>



{% endblock %}