html,
body {
	height: 100%;
	-webkit-animation: fadein .55s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein .55s; /* Firefox < 16 */
        -ms-animation: fadein .55s; /* Internet Explorer */
         -o-animation: fadein .55s; /* Opera < 12.1 */
            animation: fadein .55s;
    animation-timing-function: cubic-bezier(0.2, 0.3, 0.25, 0.9)
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.carousel,
.item,
.active,
.container {
	height: 100%;
	width: 100%;
	max-width: none;
}
.home {
	vertical-align: middle;
	line-height: 76px;
	font-size: 23px;
	color: white;
}

.home:hover {
	color: white;
	text-decoration: none;
}

h1 {
	font-size: 40px;
	font-weight: 300;
	letter-spacing: 4px;
}
.container {
	padding: 0;
}

.carousel-inner {
	height:100%;
}
.carousel-inner > .item > img {
  width: 100%;
  height: 100%;
}
.carousel-caption {
	top: 50%;
	transform: translateY(-50%);
	bottom: initial;
	text-shadow: none;
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}
.navbar {
	margin: 0;
	background-image: none;
	background: none;
	border: none;
	font-family: "Montserrat";
	box-shadow: none;
}
.navbar.navbar-inverse {
    background-color: transparent;
}
.navbar .container {
	width: 95%;
	padding: 0px 15px;
}

.navbar .navbar-nav li a {
    padding: 2em 1.5em;
}
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav li a {
    text-shadow: none;
    color: white;
}

.animate {
  -webkit-animation-duration: 4.7s;
  animation-duration: 4.7s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animatetwo {
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
/*=== FADE IN DOWN ===*/
@-webkit-keyframes fadeInDown {
   0%,100% { opacity: 0 }
   25%, 75% { opacity: 1 }
}
@keyframes fadeInDown {
   0%,100% { opacity: 0 }
   25%, 75% { opacity: 1 }
}
 
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

/*=== FADE IN DOWN ===*/
@-webkit-keyframes fadeInDowntwo {
   0%,100% { opacity: 0 }
   25%, 75% { opacity: 1 }
}
@keyframes fadeInDowntwo {
   0%,100% { opacity: 0 }
   25%, 69% { opacity: 1 }
}
 
.fadeInDowntwo {
  -webkit-animation-name: fadeInDowntwo;
  animation-name: fadeInDowntwo;
}
/*=== Optional Delays, change values here  ===*/
.one {
-webkit-animation-delay: 0.7s;
-moz-animation-delay: 0.7s;
animation-delay: 0.7s;
}
 
.two {
-webkit-animation-delay: 1.4s;
-moz-animation-delay: 1.4s;
animation-delay: 1.4s;
}