body {
  padding-top: 120px;
  font-family: "Open Sans";
}
html,
body {
	height: 100%;
}

.navbar-header {

}

.navbar {
	margin: 0;
	background-image: none;
	background: white;
	border: none;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
	font-family: "Montserrat";
}

.navbar .container {
	width: 95%;
}
.navbar.navbar-inverse {
    background-color: white;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-nav li a,
.navbar-inverse .navbar-nav li a:hover{
    color: black;
    background-color: none;
}
.navbar-inverse .navbar-nav li a:focus {
	color: black;
	}

.navbar .navbar-nav li a {
    padding: 2em 1.5em;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav li a {
    text-shadow: none;
    color: black;
    padding: none;
}

.container {
	max-width: none;
}
.featurette-divider {
	margin: 80px 0;
}

.item {
	padding: 10px;

	-webkit-animation: fadein 1.5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1.5s; /* Firefox < 16 */
        -ms-animation: fadein 1.5s; /* Internet Explorer */
         -o-animation: fadein 1.5s; /* Opera < 12.1 */
            animation: fadein 1.5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


.thumbnail {
	border-radius: 0px;
}

.techreport {
	font-size: 18px;
	line-height: 1.5;
}
.caption {
	white-space:pre;
	overflow:hidden;
	text-overflow: ellipsis;
}
.inline-dropdown {
	display: inline-block;
}
.dropdown-text{
	display: inline-block;
}
.iframe {
	border: 1px solid black;
}
.item .thumbnail .pic {
	height: 200px;
}
.item .thumbnail .picflags {
	height: 100px;
}
pre {
	margin-bottom: 0;
}

.reactable-page-button {
  margin-left: 5px;
  margin-right: 2px;
  margin-bottom: 6px;
  padding: 3px;
  width: 30px;
  float: left;
  cursor: pointer;
  color: #000;
  border: 1px solid #AAA;
  background-color: #EEE;
  text-align: center;
  border-radius: 5px;
}

.reactable-page-button:hover {
  text-decoration: none;
  color: #333;
  background-color: #DDD;
}

.reactable-current-page {
  background-color: #DDD;
  cursor: default;
}

#demo-table th {
  cursor: pointer;
}

#demo-table th.reactable-header-sort-desc, #demo-table th.reactable-header-sort-asc {
  background-color: #474747;
}

#demo-table th.reactable-header-sort-desc:after {
  content: '\25B2';
  font-size: 10px;
  padding-left: 10px;
  padding-bottom: 5px;
}

#demo-table th.reactable-header-sort-asc:after {
  content: '\25BC';
  font-size: 10px;
  padding-left: 10px;
  padding-bottom: 5px;
}

tr.reactable-filterer {
  width: 100%;
}

tr.reactable-filterer td {
  width: 100%;
}

.reactable-filter-input {
  width: 95%;
  margin-left: 10px;
  margin-top: 7px;
  margin-bottom: 7px;
  margin-right: 20px;
  padding: 5px;
}
