body {
  padding-top: 50px;
}
html,
body {
	height: 100%;
}

.navbar-header {
	padding-left: 20px;
}

.navbar {
	margin: 0;
	width: 100%;
}

.featurette-divider {
	margin: 80px 0;
}

.item {
	padding: 10px;
}

.thumbnail {
	border-radius: 0px;
}

.techreport {
	font-size: 18px;
	line-height: 1.5;
}
pre {
	margin-bottom: 0;
}