body {
  padding-top: 76px;
  font-family: "Open Sans";
}
html,
body {
	height: 100%;
}

.navbar-header {
	padding-left: 20px;
}

.navbar {
	margin: 0;
	background-image: none;
	background: white;
	border: none;
	border-bottom: 1px solid gray;
	font-family: "Montserrat";
}

.navbar .container {
	width: 95%;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-nav li a,
.navbar-inverse .navbar-nav li a:hover{
    color: black;
    background-color: none;
}
.navbar-inverse .navbar-nav li a:focus {
	color: black;
	}
.navbar-brand,
.navbar-nav li a {
    padding: 2em 1.5em;
}
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav li a {
    text-shadow: none;
    color: black;
}
.featurette-divider {
	margin: 80px 0;
}

.item {
	padding: 10px;
}

.thumbnail {
	border-radius: 0px;
}

.techreport {
	font-size: 18px;
	line-height: 1.5;
}
.caption {
	white-space:pre;
	overflow:hidden;
	text-overflow: ellipsis;
}
.inline-dropdown {
	display: inline-block;
}
.dropdown-text{
	display: inline-block;
}
.iframe {
	border: 1px solid black;
}
pre {
	margin-bottom: 0;
}
