<!-- {% extends "base.html" %} -->
{% block styles %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/model.css') }}">
{% endblock %}
{% block content %}

    <div class="row">
      <h1 class="featurette-heading text-center">itslaunchti.me</h1>
    </div>
 <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
          <h2>Fumika Bai</h2>
          <ul class="list-unstyled">
            <li>Major Responsibilities:</li>
            <li>No. of Commits:</li>
            <li>No. of Issues:</li>
            <li>No. of Unit Tests:</li>
          </ul>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
          <h2>Benjamin Baker</h2>
          <ul class="list-unstyled">
            <li>Major Responsibilities:</li>
            <li>No. of Commits:</li>
            <li>No. of Issues:</li>
            <li>No. of Unit Tests:</li>
          </ul>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
          <h2>Zachary Casares</h2>
         <ul class="list-unstyled">
            <li>Major Responsibilities:</li>
            <li>No. of Commits:</li>
            <li>No. of Issues:</li>
            <li>No. of Unit Tests:</li>
          </ul>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
          <h2>Vincent Chow</h2>
          <ul class="list-unstyled">
            <li>Major Responsibilities:</li>
            <li>No. of Commits:</li>
            <li>No. of Issues:</li>
            <li>No. of Unit Tests:</li>
          </ul>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
          <h2>Jacob Courtney</h2>
          <ul class="list-unstyled">
            <li>Major Responsibilities:</li>
            <li>No. of Commits:</li>
            <li>No. of Issues:</li>
            <li>No. of Unit Tests:</li>
          </ul>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
          <h2>Samuel Yang</h2>
          <ul class="list-unstyled">
            <li>Major Responsibilities:</li>
            <li>No. of Commits:</li>
            <li>No. of Issues:</li>
            <li>No. of Unit Tests:</li>
          </ul>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->

      <hr class="featurette-divider">
      <div class="row featurette">
        <div class="col-med-4">
          <h2 class="featurette-heading">Technical Report</h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
      </div>

<!-- Above lines of code says that this html file will take all the HTML from base.html. -->
<!-- In base.html, I've written where the content will be put in for the html files that extend base.html. Look at index.html for an example-->

<!-- Put any html that this page will display between block content and end block -->


{% endblock %}