
{% extends "base.html" %}
{% block styles %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/model.css') }}">
{% endblock %}
{% block content %}

<div class="container">
    <h2>Agencies</h2>  
    <div class="col-sm-3">
      <ul class="list-unstyled">
        <li>
          <p>Filter 1</p>
          <form>
            <div class="checkbox">
              <label><input type="checkbox" value="">Option 1</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value="">Option 2</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value="">Option 3</label>
            </div>
          </form>
        </li>
        <li>
          <p>Filter 2</p>
          <form>
            <div class="checkbox">
              <label><input type="checkbox" value="">Option 1</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value="">Option 2</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value="">Option 3</label>
            </div>
          </form>
        </li>
        <li>
          <p>Filter 3</p>
          <form>
            <div class="checkbox">
              <label><input type="checkbox" value="">Option 1</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value="">Option 2</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value="">Option 3</label>
            </div>
          </form>
        </li>
    </div>
    <div class="col-sm-9">
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Sort:
          <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">Name</a></li>
          <li><a href="#">Type</a></li>
          <li><a href="#">Country Code</a></li>
        </ul>
      </div>
      <div class="item col-xs-6 col-sm-4">
        <div class="thumbnail">
          <img src="http://placehold.it/200x200/000/fff">
          <div class="caption">
            <a href="{{url_for('agency_1')}}">Mexican Space Agency</a>
          </div>
        </div>
      </div>
      <div class="item col-xs-6 col-sm-4">
        <div class="thumbnail">
          <img src="http://placehold.it/200x200/000/fff">
          <div class="caption">
            <a href="{{url_for('agency_2')}}">China National Space Administration</a>
          </div>
        </div>
      </div>
      <div class="item col-xs-6 col-sm-4">
        <div class="thumbnail">
          <img src="http://placehold.it/200x200/000/fff">
          <div class="caption">
            <a href="{{url_for('agency_3')}}">National Aeronautics and Space Administration</a>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- Above lines of code says that this html file will take all the HTML from base.html. -->
<!-- In base.html, I've written where the content will be put in for the html files that extend base.html. Look at index.html for an example-->

<!-- Put any html that this page will display between block content and end block -->


{% endblock %}
