
{% extends "base.html" %}
{% block styles %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/model.css') }}">
{% endblock %}
{% block content %}

<div class="container">
    <h2>Agencies</h2>  
    <div class="col-sm-3">
      <ul class="list-unstyled">
        <li>
          <p>Filter 1</p>
          <form>
            <div class="checkbox">
              <label><input type="checkbox" value="">Option 1</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value="">Option 2</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value="">Option 3</label>
            </div>
          </form>
        </li>
        <li>
          <p>Filter 2</p>
          <form>
            <div class="checkbox">
              <label><input type="checkbox" value="">Option 1</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value="">Option 2</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value="">Option 3</label>
            </div>
          </form>
        </li>
        <li>
          <p>Filter 3</p>
          <form>
            <div class="checkbox">
              <label><input type="checkbox" value="">Option 1</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value="">Option 2</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value="">Option 3</label>
            </div>
          </form>
        </li>
    </div>
    <div class="col-sm-9">
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Sort:
          <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">Name</a></li>
          <li><a href="#">Type</a></li>
          <li><a href="#">Country Code</a></li>
        </ul>
      </div>
      <div class="item col-xs-6 col-sm-4">
        <div class="thumbnail">
          <img src="http://placehold.it/200x200/000/fff">
          <div class="caption" id="content1">
            
          </div>
        </div>
      </div>
      <div class="item col-xs-6 col-sm-4">
        <div class="thumbnail">
          <img src="http://placehold.it/200x200/000/fff">
          <div class="caption" id="content2">
            
          </div>
        </div>
      </div>
      <div class="item col-xs-6 col-sm-4">
        <div class="thumbnail">
          <img src="http://placehold.it/200x200/000/fff">
          <div class="caption" id="content3">
            
          </div>
        </div>
      </div>
      <div class="item col-xs-6 col-sm-4">
        <div class="thumbnail">
          <img src="http://placehold.it/200x200/000/fff">
          <div class="caption" id="content4">
            
          </div>
        </div>
      </div>
      <div class="item col-xs-6 col-sm-4">
        <div class="thumbnail">
          <img src="http://placehold.it/200x200/000/fff">
          <div class="caption" id="content5">
            
          </div>
        </div>
      </div>
      <div class="item col-xs-6 col-sm-4">
        <div class="thumbnail">
          <img src="http://placehold.it/200x200/000/fff">
          <div class="caption" id="content6">
            
          </div>
        </div>
      </div>
      <div class="item col-xs-6 col-sm-4">
        <div class="thumbnail">
          <img src="http://placehold.it/200x200/000/fff">
          <div class="caption" id="content7">
            
          </div>
        </div>
      </div>
      <div class="item col-xs-6 col-sm-4">
        <div class="thumbnail">
          <img src="http://placehold.it/200x200/000/fff">
          <div class="caption" id="content8">
            
          </div>
        </div>
      </div>
      <div class="item col-xs-6 col-sm-4">
        <div class="thumbnail">
          <img src="http://placehold.it/200x200/000/fff">
          <div class="caption" id="content9">
            
          </div>
        </div>
      </div>
      <div class="item col-xs-6 col-sm-4">
        <div class="thumbnail">
          <img src="http://placehold.it/200x200/000/fff">
          <div class="caption" id="content10">
            
          </div>
        </div>
      </div>
    </div>
    <div>
      <button type="button" class="btn pull-right" id="nextButton">Next</button>
      <button type="button" class="btn pull-right" id="prevButton">Previous</button>
    </div>
  </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react-dom.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/jsx">
/** @jsx React.DOM */



var App = React.createClass({

  getInitialState: function() {
    return {
      names: [],
      id: []
    }
  },

  componentDidMount: function() {
    var _this = this;
    this.serverRequest = 
      axios
        .get("https://launchlibrary.net/1.2/agency?limit=10.json")
        .then(function(result) {    
          const agc = result.data.agencies.map(function(obj){return obj.name});
          const ids = result.data.agencies.map(function(obj){return obj.id})
          _this.setState({names: agc});
          _this.setState({id: ids})
        })
  },

  componentWillUnmount: function() {
    this.serverRequest.abort();
  },


  render: function() {
    var index = this.props.items
    return React.createElement("a", { href: "{{url_for('agency_3')}}" }, this.state.names[index])
  }
});



ReactDOM.render(
  React.createElement(App, {items: 0}),
  document.getElementById('content1')
);

ReactDOM.render(
  React.createElement(App, {items: 1}),
  document.getElementById('content2')
);

ReactDOM.render(
  React.createElement(App, {items: 2}),
  document.getElementById('content3')
);

ReactDOM.render(
  React.createElement(App, {items: 3}),
  document.getElementById('content4')
);

ReactDOM.render(
  React.createElement(App, {items: 4}),
  document.getElementById('content5')
);

ReactDOM.render(
  React.createElement(App, {items: 5}),
  document.getElementById('content6')
);

ReactDOM.render(
  React.createElement(App, {items: 6}),
  document.getElementById('content7')
);

ReactDOM.render(
  React.createElement(App, {items: 7}),
  document.getElementById('content8')
);

ReactDOM.render(
  React.createElement(App, {items: 8}),
  document.getElementById('content9')
);

ReactDOM.render(
  React.createElement(App, {items: 9}),
  document.getElementById('content10')
);
</script>

<script>

function getNextPage() {
  var currentLink = window.location.href;
  var newLink;
  /*  first page does not have number signifier 
    i.e. is just itslaunchtime.me/agencies not itslaunchtime.me/agencies/1 */
  window.alert("Substr " + parseInt(currentLink.substr(currentLink.lastIndexOf('/') + 1)));
  if(isNaN(parseInt(currentLink.substr(currentLink.lastIndexOf('/') + 1)))) {
    newLink = currentLink + "/2";
    window.alert("hell yeh");
  }
  else {
    newLink = currentLink.substr(0, currentLink.lastIndexOf('/'));
    var curPageNum = parseInt(currentLink.substr(currentLink.lastIndexOf('/') + 1));
    ++curPageNum;
    newLink += "/" + curPageNum;
  }
  window.location.href = newLink;
}

function getPrevPage() {
  var currentLink = window.location.href;
  var newLink;
  /*  first page does not have prev */
  window.alert("Substr " + parseInt(currentLink.substr(currentLink.lastIndexOf('/') + 1)));
  if(isNaN(parseInt(currentLink.substr(currentLink.lastIndexOf('/') + 1)))) {
    return;

  }
  else {
    newLink = currentLink.substr(0, currentLink.lastIndexOf('/'));
    var curPageNum = parseInt(currentLink.substr(currentLink.lastIndexOf('/') + 1));
    --curPageNum;
    newLink += "/" + curPageNum;
  }
  window.location.href = newLink;
}

var next = document.getElementById("nextButton");
next.addEventListener("click", getNextPage);

var next = document.getElementById("prevButton");
next.addEventListener("click", getPrevPage);
</script>

<!-- Above lines of code says that this html file will take all the HTML from base.html. -->
<!-- In base.html, I've written where the content will be put in for the html files that extend base.html. Look at index.html for an example-->

<!-- Put any html that this page will display between block content and end block -->


{% endblock %}
