{% extends "base.html" %}

{% block styles %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/model.css') }}">
{% endblock %}
{% block content %}

<div id="root"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react-dom.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script type="text/jsx">

var App = React.createClass({

	getInitialState: function() {
		return {
			name: "",
			abbrev: "",
			cc: "",
      wiki: "",
      launches: [],
      missions: []
		}
	},

	componentDidMount: function() {
    var _this = this;
    this.serverRequest =
      axios
        .get("/api/agencies?id="+getParameterByName("id"))
        .then(function(result) {
					console.log(result.data[0].wikiURL)
          const nam = result.data[0].name;
					const abbrev = result.data[0].abbrev;
					const cc = result.data[0].countryCode;
          const wiki = result.data[0].wikiUrl

          const launches = result.data[0].launches;
          const missions = result.data[0].missions;

          _this.setState({name: nam});
					_this.setState({abbrev: abbrev})
					_this.setState({cc: cc})
          _this.setState({wiki: wiki})

          _this.setState({launches: launches})
          _this.setState({missions: missions})
          //_this.setState({images: img});


        })
  },

	componentWillUnmount: function() {
    this.serverRequest.abort();
  },

  render: function() {
    var launch_dict = this.state.launches
    var launch_keys = Object.keys(this.state.launches)
    var mission_dict = this.state.missions
    var mission_keys = Object.keys(this.state.missions)
    return(
		<div className="col-md-10 col-md-offset-1">
		<h1>{this.state.name}</h1>
			<hr></hr>
			<h3>Country Code: {this.state.cc}</h3>
			<h3>Type: Government</h3>
			<h3>Abbreviation: {this.state.abbrev}</h3>
			<h3 className="inline-dropdown">Launches:</h3>
			<div className="dropdown dropdown-text">
        	<button className="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Choose One
          	<span className="caret"></span></button>
					<ul className="dropdown-menu">
            {launch_keys.map(function(key) {
              return <li><a href={"/launches?id=" + key}>{launch_dict[key]}</a></li>;
            })}
					</ul>
			</div>
			<br></br>
			<h3 className="inline-dropdown">Missions:</h3>
			<div className="dropdown dropdown-text">
        <button className="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Choose One
          <span className="caret"></span></button>
        <ul className="dropdown-menu">
          {mission_keys.map(function(key) {
              return <li><a href={"/missions?id=" + key}>{mission_dict[key]}</a></li>;
            })}
        </ul>
    </div>
		<hr></hr>
    <iframe className="iframe" height="500" width="100%" src={this.state.wiki}></iframe>
    {/*<h3><a href={this.state.wiki}>Wikipedia</a></h3>*/}
		</div>
	);
  }
});

function drawInstance(){
	console.log('want to draw')
  ReactDOM.render(
  	React.createElement(App, {items: 0}),
  	document.getElementById('root')
	);
	document.getElementById('root').childNodes[0].className+= " col-md-10 col-md-offset-1";
}
//document.getElementById('wikiview').src="https://en.wikipedia.org/wiki/Agencia_Espacial_Mexicana"
drawInstance();
</script>

<script>
function getParameterByName(name, url) {
    if (!url) {
      url = window.location.href;
    }
    name = name.replace(/[\[\]]/g, "\\$&");
    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
        results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return '';
    return decodeURIComponent(results[2].replace(/\+/g, " "));
}
</script>

{% endblock %}
