
{% extends "base.html" %}
{% block styles %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/model.css') }}">
{% endblock %}
{% block content %}

<div class="container">
    <h2>Launches</h2>
    <div class="col-sm-3">
      <ul class="list-unstyled">
        <li>
          <p>Status</p>
          <form>
            <div class="checkbox">
              <label><input type="checkbox" value="">Success</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value="">Failed</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value="">Green</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value="">Red</label>
            </div>
          </form>
        </li>
      </ul>
    </div>
    <div class="col-sm-9">
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Sort:
          <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">Name</a></li>
          <li><a href="#">Start</a></li>
          <li><a href="#">Status</a></li>
          <li><a href="#">Rocket</a></li>
          <li><a href="#">Agency</a></li>
          <li><a href="#">Location</a></li>
          <li><a href="#">Mission</a></li>
        </ul>
      </div>
      <div class="item col-xs-6 col-sm-4" id="col1">
        <div class="thumbnail" id="thumb1">
        </div>
      </div>
      <div class="item col-xs-6 col-sm-4" id="col2">
        <div class="thumbnail" id="thumb2">
        </div>
      </div>
      <div class="item col-xs-6 col-sm-4" id="col3">
        <div class="thumbnail" id="thumb3">
        </div>
      </div>
      <div class="item col-xs-6 col-sm-4" id="col4">
        <div class="thumbnail" id="thumb4">
        </div>
      </div>
      <div class="item col-xs-6 col-sm-4" id="col5">
        <div class="thumbnail" id="thumb5">
        </div>
      </div>
      <div class="item col-xs-6 col-sm-4" id="col6">
        <div class="thumbnail" id="thumb6">
        </div>
      </div>
      <div class="item col-xs-6 col-sm-4" id="col7">
        <div class="thumbnail" id="thumb7">
        </div>
      </div>
      <div class="item col-xs-6 col-sm-4" id="col8">
        <div class="thumbnail" id="thumb8">
        </div>
      </div>
      <div class="item col-xs-6 col-sm-4" id="col9">
        <div class="thumbnail" id="thumb9">
        </div>
      </div>
      <div class="item col-xs-6 col-sm-4" id="col10">
        <div class="thumbnail" id="thumb10">
        </div>
      </div>
      <div class="item col-xs-6 col-sm-4" id="col11">
        <div class="thumbnail" id="thumb10">
        </div>
      </div>
      <div class="item col-xs-6 col-sm-4" id="col12">
        <div class="thumbnail" id="thumb10">
        </div>
      </div>

    </div>
    <div>
      <button type="button" class="btn pull-right" id="nextButton">Next</button>
      <button type="button" class="btn pull-right" id="prevButton">Previous</button>
    </div>
  </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react-dom.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/jsx">
/** @jsx React.DOM */

var App = React.createClass({

  getInitialState: function() {
    return {
      names: [],
      images: [],
      ids: []
    }
  },

  componentDidMount: function() {
    var _this = this;
    var pageNum = getParameterByName('page');
    if(pageNum == null){
      pageNum = 1;
    }
    var orderName = getParameterByName('orderBy');
    if(orderName == null){
      orderName = 'name'; //default
    }
    this.serverRequest =
      axios
        .get("/api/launches?page=" + pageNum +"%26orderBy=" + orderName)
        .then(function(result) {
          const lch = result.data.map(function(obj){return obj.name});
          const img = result.data.map(function(obj){return obj.rocketLink});
          const id = result.data.map(function(obj){return obj.id});
          _this.setState({names: lch});
          _this.setState({images: img})
          _this.setState({ids: id});
        })
  },

  componentWillUnmount: function() {
    this.serverRequest.abort();
  },

  render: function() {
    var index = this.props.items
    var url = "/launches?id="+this.state.ids[index];
    return <div class="thumbnail">
             <img className="pic" src={this.state.images[index]} ></img>
             <div className="caption"><a href={url}>{this.state.names[index]}</a></div>
           </div>

  }
});
function drawTables(numTables){

  var i;
  for(i=0; i<numTables; i++){

    ReactDOM.render(
      React.createElement(App, {items: i}),
      document.getElementById('col'+(i+1))
    );
    document.getElementById('col'+(i+1)).childNodes[0].className+= " thumbnail";

  }
}
drawTables(12);

</script>

<script>

function totalPageNum(num) {
  var total = 30;
  if(num){
    total = num;
  }
  return total;
}

function getParameterByName(name, url) {
    if (!url) {
      url = window.location.href;
    }
    name = name.replace(/[\[\]]/g, "\\$&");
    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
        results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return '';
    return decodeURIComponent(results[2].replace(/\+/g, " "));
}

function updateURLParameter(url, param, paramVal){
    var newAdditionalURL = "";
    var tempArray = url.split("?");
    var baseURL = tempArray[0];
    var additionalURL = tempArray[1];
    var temp = "";
    if (additionalURL) {
        tempArray = additionalURL.split("&");
        for (var i=0; i<tempArray.length; i++){
            if(tempArray[i].split('=')[0] != param){
                newAdditionalURL += temp + tempArray[i];
                temp = "&";
            }
        }
    }

    var rows_txt = temp + "" + param + "=" + paramVal;
    return baseURL + "?" + newAdditionalURL + rows_txt;
}


function getNextPage() {
    var pageNum = getParameterByName('page');
    if(pageNum == null){
      pageNum = 1;
    }
    var orderName = getParameterByName('orderBy');
    if(orderName == null){
      orderName = 'name'; //default
    }
    ++pageNum;
    console.log(pageNum);
    var currentLink = window.location.href;
    if(pageNum <= totalPageNum()){
      var newLink = updateURLParameter(currentLink, 'page', pageNum);
      newLink = updateURLParameter(newLink, 'orderBy', orderName);
    }else{

      var newLink = currentLink;
    }
    window.location.href = newLink;
}

function getPrevPage() {
  var pageNum = getParameterByName('page');
    --pageNum;
    var currentLink = window.location.href;
    if(pageNum >= 1){
      var newLink = updateURLParameter(currentLink, 'page', pageNum);
    }else{
      var newLink = currentLink;
    }
    window.location.href = newLink;
}

var next = document.getElementById("nextButton");
next.addEventListener("click", getNextPage);

var next = document.getElementById("prevButton");
next.addEventListener("click", getPrevPage);


</script>

<!-- Above lines of code says that this html file will take all the HTML from base.html. -->
<!-- In base.html, I've written where the content will be put in for the html files that extend base.html. Look at index.html for an example-->

<!-- Put any html that this page will display between block content and end block -->


{% endblock %}
