{% extends "base.html" %}
{% block styles %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/model.css') }}">
{% endblock %}
{% block content %}

<div class="container">
    <h2>Launches</h2>          
    <table id="table" class="table table-striped table-bordered" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>Name</th>
          <th>Start</th>
          <th>Status</th>
          <th>Rocket</th>
          <th>Agency</th>
          <th>Location</th>
          <th>Mission</th>
          

        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Ariane 5 ECA | SGDC 1 &amp; Koreasat 7</td>
          <td>March 24, 2017</td>
          <td>1</td>
          <td>Ariane 5 ECA</td>
          <td>Arianespace</td>
          <td>Kourou, French Guiana</td>
          <td>SGDC 1 &amp; Koreasat 7</td>
        </tr>
        <tr>
          <td>Atlas V 401 | Cygnus CRS OA-7 (S.S. John Glenn)</td>
          <td>March 28, 2017</td>
          <td>2</td>
          <td>Atlas V 401</td>
          <td>United Launch Alliance</td>
          <td>Cape Canaveral, FL, USA</td>
          <td>Cygnus CRS OA-7 (S.S. John Glenn)</td>
        </tr>
        <tr>
          <td>Falcon 9 Full Thrust | SES-10</td>
          <td>March 29, 2017</td>
          <td>2</td>
          <td>Falcon 9 Full Thrust</td>
          <td>SpaceX</td>
          <td>Cape Canaveral, FL, USA</td>
          <td>SES-10</td>
        </tr>
      </tbody>
    </table>
  </div>

<!-- Above lines of code says that this html file will take all the HTML from base.html. -->
<!-- In base.html, I've written where the content will be put in for the html files that extend base.html. Look at index.html for an example-->

<!-- Put any html that this page will display between block content and end block -->


{% endblock %}
