{% extends "base.html" %}

{% block styles %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/model.css') }}">
{% endblock %}
{% block content %}

<div class="col-md-10 col-md-offset-1">
	<h1>Ariane 5 ECA | SGDC 1 &amp; Koreasat 7</h1>
	<hr>
	<h3>Start: March 24, 2017</h3>
	<h3>Status: 1</h3>
	<h3>Rocket: Ariane 5 ECA</h3>
	<h3><a href="{{url_for('location_1')}}">Location: Kourou, French Guiana</h3>
	<h3><a href="{{url_for('mission_1')}}">Mission: SGDC 1 &amp; Koreasat 7</a></h3>
	<h3 class="inline-dropdown">Agencies:</h3>
	<div class="dropdown dropdown-text">
	    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Choose One
	      <span class="caret"></span></button>
	    <ul class="dropdown-menu">
	      <li><a href="#">Example1</a></li>
	      <li><a href="#">Example2</a></li>
	      <li><a href="#">Example3</a></li>
	    </ul>
    </div>
    <hr>
    <img class="img-square" src="https://s3.amazonaws.com/launchlibrary/RocketImages/Ariane+5+ECA_1920.jpg" alt="Generic placeholder image" width="300" height="300">
</div>


{% endblock %}