{% extends "base.html" %}

{% block styles %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/model.css') }}">
{% endblock %}
{% block content %}

<div class="container">
	
	<h1>Jiuquan, People's Republic of China</h1>

	<div>
		<h4>CountryCode: CHN</h4>
		<div class="dropdown">
			<h3>Agencies:</h3>
	        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Choose One
	          <span class="caret"></span></button>
	        <ul class="dropdown-menu">
	          <li><a href="#">Example1</a></li>
	          <li><a href="#">Example2</a></li>
	          <li><a href="#">Example3</a></li>
	        </ul>
	    </div>
	    <img class="img-square" src="http://i.imgur.com/voLgap2.jpg" alt="flag" width="300" height="300">
	</div>

</div>


{% endblock %}