
{% extends "base.html" %}
{% block styles %}
<script src="{{ url_for('static', filename='bower_components/react/react.min.js') }}"></script>
<script src="{{ url_for('static', filename='bower_components/react/react-dom.min.js') }}"></script>

<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/model.css') }}">
{% endblock %}
{% block content %}

<div class="container">
    <h2>Locations</h2>
    <div class="col-sm-3">
      <ul class="list-unstyled">
        <li>
          <p>Country Code</p>
          <form>
            <div class="checkbox">
              <label><input type="checkbox" id="chnbox" value="CHN">CHN</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" id="dzabox" value="DZA">DZA</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" id="gufbox" value="GUF">GUF</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" id="indbox" value="IND">IND</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" id="irnbox" value="IRN">IRN</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" id="isrbox" value="ISR">ISR</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" id="jpnbox" value="JPN">JPN</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" id="kazbox" value="KAZ">KAZ</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" id="kenbox" value="KEN">KEN</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" id="korbox" value="KOR">KOR</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" id="nzlbox" value="NZL">NZL</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" id="prkbox" value="PRK">PRK</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" id="rusbox" value="RUS">RUS</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" id="unkbox" value="UNK">UNK</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" id="usabox" value="USA">USA</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" id="rmibox" value="rmi">rmi</label>
            </div>
          </form>
          <button type="button" id="filter" onclick="doFilter()">Filter</button>
        </li>
    </div>
    <div class="col-sm-9">
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Sort:
          <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#" onclick="return false" id="namea">Name (A-Z)</a></li>
          <li><a href="#" onclick="return false" id="named">Name (Z-A)</a></li>
          <li><a href="#" onclick="return false" id="cca">Country Code (A-Z)</a></li>
          <li><a href="#" onclick="return false" id="ccd">Country Code (Z-A)</a></li>
        </ul>
      </div>
      <div class="item col-xs-6 col-sm-4" id="col1">
        <div class="thumbnail" id="thumb1">
        </div>
      </div>
      <div class="item col-xs-6 col-sm-4" id="col2">
        <div class="thumbnail" id="thumb2">
        </div>
      </div>
      <div class="item col-xs-6 col-sm-4" id="col3">
        <div class="thumbnail" id="thumb3">
        </div>
      </div>
      <div class="item col-xs-6 col-sm-4" id="col4">
        <div class="thumbnail" id="thumb4">
        </div>
      </div>
      <div class="item col-xs-6 col-sm-4" id="col5">
        <div class="thumbnail" id="thumb5">
        </div>
      </div>
      <div class="item col-xs-6 col-sm-4" id="col6">
        <div class="thumbnail" id="thumb6">
        </div>
      </div>
      <div class="item col-xs-6 col-sm-4" id="col7">
        <div class="thumbnail" id="thumb7">
        </div>
      </div>
      <div class="item col-xs-6 col-sm-4" id="col8">
        <div class="thumbnail" id="thumb8">
        </div>
      </div>
      <div class="item col-xs-6 col-sm-4" id="col9">
        <div class="thumbnail" id="thumb9">
        </div>
      </div>
      <div class="item col-xs-6 col-sm-4" id="col10">
        <div class="thumbnail" id="thumb10">
        </div>
      </div>
      <div class="item col-xs-6 col-sm-4" id="col11">
        <div class="thumbnail" id="thumb11">
        </div>
      </div>
      <div class="item col-xs-6 col-sm-4" id="col12">
        <div class="thumbnail" id="thumb12">
        </div>
      </div>

    </div>
    <div>
      <button type="button" class="btn pull-right" id="nextButton">Next</button>
      <button type="button" class="btn pull-right" id="prevButton">Previous</button>
    </div>
  </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react-dom.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/jsx">
/** @jsx React.DOM */

var App = React.createClass({

  getInitialState: function() {
    return {
      names: [],
      country: [],
      ids: []
    }
  },

  componentDidMount: function() {
      var _this = this;
      var pageNum = getParameterByName('page');
      if(pageNum == null || pageNum == ''){
        pageNum = 1;
      }
      var orderName = getParameterByName('orderBy');
      if(orderName == null || orderName ==''){
        orderName = 'name'; //default
      }
      var countries = getParameterByName('countryCode');
      if(countries == null || countries ==''){
        countries = "CHN+DZA+GUF+IND+IRN+ISR+JPN+KAZ+KEN+KOR+NZL+PRK+RUS+UNK+USA+rmi";
      }
      var order = getParameterByName('order');
      if(!order){
        order = "asc";
      }

      var request = "/api/locations?page=" + pageNum
                    +"%26orderBy=" + orderName
                    +"%26countryCode="+countries
                    +"%26order="+order;
      console.log(request);
      this.serverRequest =
        axios
          .get(request)
          .then(function(result) {
            const lch = result.data.map(function(obj){return obj.name});
            const cc  = result.data.map(function(obj){return obj.countryCode});
            console.log(cc)
            const id = result.data.map(function(obj){return obj.id});
            _this.setState({names: lch});
            _this.setState({country: cc});
            _this.setState({ids: id})

          })

    },

  componentWillUnmount: function() {
    this.serverRequest.abort();
  },

  render: function() {
    var index = this.props.items
    var url = "/locations?id="+this.state.ids[index];
    var img
    if(this.state.country.length == 0){
      var img = "http://placehold.it/200x200/000/fff";
    }else if(this.state.country[index] == "rmi"){
        img = "../static/images/Reagan.jpg"
    } else {
      img = "https://restcountries.eu/data/"+((this.state.country[index].substring(0, 3)).toLowerCase())+".svg"
    }
    return <div className="thumbnail">
             <img className="picflags" src={img}></img>
            <div className="caption"><a href={url}>{this.state.names[index]}</a></div>
            </div>
  }
});
function drawTables(numTables){

  var i;
  for(i=0; i<numTables; i++){

    ReactDOM.render(
      React.createElement(App, {items: i}),
      document.getElementById('col'+(i+1))
    );
    

  }
}
drawTables(12);
console.log("https://launchlibrary.net/1.2/location?offset=" + getParameterByName('page'))
</script>

<script>

function totalPageNum(num) {
  var total = 3;
  if(num){
    total = num;
  }
  return total;
}

function getParameterByName(name, url) {
    if (!url) {
      url = window.location.href;
    }
    name = name.replace(/[\[\]]/g, "\\$&");
    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
        results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return '';
    return decodeURIComponent(results[2].replace(/\+/g, " "));
}

function updateURLParameter(url, param, paramVal){
    var newAdditionalURL = "";
    var tempArray = url.split("?");
    var baseURL = tempArray[0];
    var additionalURL = tempArray[1];
    var temp = "";
    if (additionalURL) {
        tempArray = additionalURL.split("&");
        for (var i=0; i<tempArray.length; i++){
            if(tempArray[i].split('=')[0] != param){
                newAdditionalURL += temp + tempArray[i];
                temp = "&";
            }
        }
    }

    var rows_txt = temp + "" + param + "=" + paramVal;
    return baseURL + "?" + newAdditionalURL + rows_txt;
}

function doFilter(){
  $inputs = $(":checkbox:checked");
  var stringInputs = "";
  $inputs.each(function(index){
    stringInputs += $(this).attr("value") + "+";
  });

  getNextPage(stringInputs);
}


function getNextPage(ccString) {
    var pageNum = getParameterByName('page');
    if(pageNum == null){
      pageNum = 1;
    }
    var orderName = getParameterByName('orderBy');
    if(orderName == null){
      orderName = 'name'; //default
    }
    var order = getParameterByName('order');
    if(order == null){
      order = "asc";
    }
    var stringInputs = getParameterByName('countryCode');
    if(stringInputs == null){
      stringInputs = ccString;
    }


    ++pageNum;
    console.log(pageNum);
    var currentLink = window.location.href;
    if(pageNum <= totalPageNum()){
      var newLink = updateURLParameter(currentLink, 'page', pageNum);
      newLink = updateURLParameter(newLink, 'orderBy', orderName);
      newLink = updateURLParameter(newLink, 'order', order);
      if(stringInputs == null){
        newLink = updateURLParameter(newLink, 'countryCode', stringInputs);
      }
    }else{

      var newLink = currentLink;
    }
    window.location.href = newLink;
}

function getPrevPage() {
  var pageNum = getParameterByName('page');
    --pageNum;
    var currentLink = window.location.href;
    if(pageNum >= 1){
      var newLink = updateURLParameter(currentLink, 'page', pageNum);
    }else{
      var newLink = currentLink;
    }
    window.location.href = newLink;
}

function removeParameter(url, parameter)
{
  var urlparts= url.split('?');

  if (urlparts.length>=2)
  {
      var urlBase=urlparts.shift(); //get first part, and remove from array
      var queryString=urlparts.join("?"); //join it back up

      var prefix = encodeURIComponent(parameter)+'=';
      var pars = queryString.split(/[&;]/g);
      for (var i= pars.length; i-->0;)               //reverse iteration as may be destructive
          if (pars[i].lastIndexOf(prefix, 0)!==-1)   //idiom for string.startsWith
              pars.splice(i, 1);
      url = urlBase+'?'+pars.join('&');
  }
  return url;
}


function sortPage(value, order){
  var currentLink = window.location.href;
    var newLink = updateURLParameter(currentLink, 'orderBy', value);
      newLink = updateURLParameter(newLink, 'page', 1);
  if(!order){
    newLink = removeParameter(newLink, 'order', 'asc');
  }else{
    newLink = updateURLParameter(newLink, 'order', order);
  }

  window.location.href = newLink;
}

var next = document.getElementById("nextButton");
next.addEventListener("click", getNextPage);

var next = document.getElementById("prevButton");
next.addEventListener("click", getPrevPage);

var sort1 = document.getElementById("namea");
sort1.addEventListener("click", function(){return sortPage("name", 'asc');});

var sort1_2 = document.getElementById("named");
sort1_2.addEventListener("click", function(){return sortPage("name", "desc");});

var sort2 = document.getElementById("cca");
sort2.addEventListener("click", function(){return sortPage("countryCode", 'asc');});

var sort2_2 = document.getElementById("ccd");
sort2_2.addEventListener("click", function(){return sortPage("countryCode", "desc");});

</script>

<!-- Above lines of code says that this html file will take all the HTML from base.html. -->
<!-- In base.html, I've written where the content will be put in for the html files that extend base.html. Look at index.html for an example-->

<!-- Put any html that this page will display between block content and end block -->


{% endblock %}
