
{% extends "base.html" %}
{% block styles %}
<script src="{{ url_for('static', filename='bower_components/react/react.min.js') }}"></script>
<script src="{{ url_for('static', filename='bower_components/react/react-dom.min.js') }}"></script>

<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/model.css') }}">
{% endblock %}
{% block content %}

<div class="container">
    <h2>Locations</h2>  
    <div class="col-sm-3">
      <ul class="list-unstyled">
        <li>
          <p>Filter 1</p>
          <form>
            <div class="checkbox">
              <label><input type="checkbox" value="">Option 1</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value="">Option 2</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value="">Option 3</label>
            </div>
          </form>
        </li>
        <li>
          <p>Filter 2</p>
          <form>
            <div class="checkbox">
              <label><input type="checkbox" value="">Option 1</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value="">Option 2</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value="">Option 3</label>
            </div>
          </form>
        </li>
        <li>
          <p>Filter 3</p>
          <form>
            <div class="checkbox">
              <label><input type="checkbox" value="">Option 1</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value="">Option 2</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value="">Option 3</label>
            </div>
          </form>
        </li>
    </div>
    <div class="col-sm-9">
      <div class="item col-xs-6 col-sm-4" >
          <div class="thumbnail">
            <img src="http://placehold.it/200x200/000/fff">
            <div class="caption" id="content1">
              
            </div>
          </div>
      </div>
      <div class="item col-xs-6 col-sm-4" >
          <div class="thumbnail">
            <img src="http://placehold.it/200x200/000/fff">
            <div class="caption" id="content2">
              
            </div>
          </div>
      </div>
      <div class="item col-xs-6 col-sm-4" >
          <div class="thumbnail">
            <img src="http://placehold.it/200x200/000/fff">
            <div class="caption" id="content3">
              
            </div>
          </div>
      </div>
    </div>
    <div>
      <button type="button" class="btn pull-right">Next</button>
      <button type="button" class="btn pull-right">Previous</button>
    </div>
</div> 



 <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react-dom.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script> -->
<script type="text/jsx">
/** @jsx React.DOM */

var Locations = React.createClass({displayName: "Locations",
  
render: function() {
  
  var locations = this.props.items;

  return (
    React.createElement("a", {href: "{{url_for('location_1')}}"}, locations.loc)
  )
}

});

var locations = [
  {"loc": "Jiuquan, People's Republic of China"}, 
  {"loc": "Kennedy Space Center, FL, USA"}, 
  {"loc": "Svobodney Cosmodrome, Russian Federation"}
];

ReactDOM.render(
  React.createElement(Locations, {items:  locations[0] }),
  document.getElementById('content1')
);

ReactDOM.render(
  React.createElement(Locations, {items:  locations[1] }),
  document.getElementById('content2')
);

ReactDOM.render(
  React.createElement(Locations, {items:  locations[2] }),
  document.getElementById('content3')
);
</script>


<!-- Above lines of code says that this html file will take all the HTML from base.html. -->
<!-- In base.html, I've written where the content will be put in for the html files that extend base.html. Look at index.html for an example-->

<!-- Put any html that this page will display between block content and end block -->


{% endblock %}