{% extends "base.html" %}
{% block styles %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/model.css') }}">
{% endblock %}
{% block content %}

<div class="container">
    <h2>Missions</h2>          
    <table id="table" class="table table-striped table-bordered" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Launch</th>
          <th>Type</th>
          <th>Agency</th>
          <th>Launch Date</th>
          
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Nuclear Spectroscopic Telescope Array (NuSTAR)</td>
          <td>Designed to image high-energy X-ray radiation, the Nuclear Spectroscopic Telescope Array (NuSTAR) is tasked with surveying regions surrounding the center of own Milky Way Galaxy and performing deep observations of the extragalactic sky, studying black holes and supernovas.</td>
          <td>Pegasus XL | Nuclear Spectroscopic Telescope Array (NuSTAR)</td>
          <td>Astrophysics</td>
          <td>National Aeronautics and Space Administration</td>
          <td>June 13, 2012</td>
        </tr>
        <tr>
          <td>SpX CRS-1</td>
          <td>This was the third flight for the uncrewed Dragon cargo spacecaft and the first SpaceX mission under their Commercial Resupply Services contract with NASA. Dragon delivered various cargo to the staion, and returned after being berthed to the station for 17 days. The spacecraft landed in the Pacific Ocean and was recovered by SpaceX.</td>
          <td>Falcon 9 v1.0 | SpX CRS-1</td>
          <td>Resupply</td>
          <td>National Aeronautics and Space Administration</td>
          <td>October 8, 2012</td>
        </tr>
        <tr>
          <td>Shenzhou-10</td>
          <td>This is the fifth crewed mission for China's Shenzhou program which lasted 15 days. Shenzhou-10 began its mission by bringing Nie Haisheng, Zhang Xiaoguang and Wang Yaping to the Tiangong-1 space station. During their 12-day stay at the station astronauts conducted space medicine and technological experiments, and Wang Yaping gave a lecture for over 60 million Chinese students. On 23 June undocked from the station and performed manual re-docking procedure, which was one of the objectives of the mission. On 25 June Shenzhou-10 undocked from the station and landed safely on the morning of the next day.</td>
          <td>Long March 2F | Shenzhou-10</td>
          <td></td>
          <td>China Academy of Space Technology</td>
          <td>June 11, 2013</td>
        </tr>
      </tbody>
    </table>
  </div>

<!-- Above lines of code says that this html file will take all the HTML from base.html. -->
<!-- In base.html, I've written where the content will be put in for the html files that extend base.html. Look at index.html for an example-->

<!-- Put any html that this page will display between block content and end block -->


{% endblock %}
