
{% extends "base.html" %}
{% block styles %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/model.css') }}">
{% endblock %}
{% block content %}

<div class="container">
    <h2>Missions</h2>
    <div class="col-sm-3">
      <ul class="list-unstyled">
        <li>
          <p>Mission Type</p>
          <form>
            <div class="checkbox">
              <label><input type="checkbox" id="ESbox" value="Earth Science">Earth Science</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" id="PSbox" value="Planetary Science">Planetary Science</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" id="Abox" value="Astrophysics">Astrophysics</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" id="Hbox" value="Heliophysics">Heliophysics</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" id="HEbox" value="Human Exploration">Human Exploration</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" id="REbox" value="Robotic Exploration">Robotic Exploration</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" id="GTSbox" value="Government/Top Secret">Government/Top Secret</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" id="Tbox" value="Tourism">Tourism</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" id="Ubox" value="Unknown">Unknown</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" id="Cbox" value="Communications">Communications</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" id="Rbox" value="Resupply">Resupply</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" id="Sbox" value="Suborbital">Suborbital</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" id="TFbox" value="Test Flight">Test Flight</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" id="DRbox" value="Dedicated Rideshare">Dedicated Rideshare</label>
            </div>

          </form>
          <button type="button" id="filter" onclick="doFilter()">Filter</button>
        </li>
    </div>
    <div class="col-sm-9">
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Sort:
          <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#" onclick="return false" id="namea">Name (A-Z)</a></li>
          <li><a href="#" onclick="return false" id="named">Name (Z-A)</a></li>
          <li><a href="#" onclick="return false" id="loca">Launch Name (A-Z)</a></li>
          <li><a href="#" onclick="return false" id="locd">Launch Name (Z-A)</a></li>
        </ul>
      </div>
      <div class="item col-xs-6 col-sm-4" id="col1">
        <div class="thumbnail" id="thumb1">
        </div>
      </div>
      <div class="item col-xs-6 col-sm-4" id="col2">
        <div class="thumbnail" id="thumb2">
        </div>
      </div>
      <div class="item col-xs-6 col-sm-4" id="col3">
        <div class="thumbnail" id="thumb3">
        </div>
      </div>
      <div class="item col-xs-6 col-sm-4" id="col4">
        <div class="thumbnail" id="thumb4">
        </div>
      </div>
      <div class="item col-xs-6 col-sm-4" id="col5">
        <div class="thumbnail" id="thumb5">
        </div>
      </div>
      <div class="item col-xs-6 col-sm-4" id="col6">
        <div class="thumbnail" id="thumb6">
        </div>
      </div>
      <div class="item col-xs-6 col-sm-4" id="col7">
        <div class="thumbnail" id="thumb7">
        </div>
      </div>
      <div class="item col-xs-6 col-sm-4" id="col8">
        <div class="thumbnail" id="thumb8">
        </div>
      </div>
      <div class="item col-xs-6 col-sm-4" id="col9">
        <div class="thumbnail" id="thumb9">
        </div>
      </div>
      <div class="item col-xs-6 col-sm-4" id="col10">
        <div class="thumbnail" id="thumb10">
        </div>
      </div>
      <div class="item col-xs-6 col-sm-4" id="col11">
        <div class="thumbnail" id="thumb10">
        </div>
      </div>
      <div class="item col-xs-6 col-sm-4" id="col12">
        <div class="thumbnail" id="thumb10">
        </div>
      </div>

    </div>
    <div>
      <button type="button" class="btn pull-right" id="nextButton">Next</button>
      <button type="button" class="btn pull-right" id="prevButton">Previous</button>
    </div>
  </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react-dom.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/jsx">
/** @jsx React.DOM */

var App = React.createClass({

  getInitialState: function() {
    return {
      names:  [],
      images: [],
      type:   [],
      ids: []
    }
  },

  componentDidMount: function() {
    var _this = this;
    var pageNum = getParameterByName('page');
    if(pageNum == null){
      pageNum = 1;
    }
    var orderName = getParameterByName('orderBy');
    if(orderName == null){
      orderName = 'name';
    }

    var types = getParameterByName('typeName');
    if(types == null){
      types = 'Earth Science+Planetary Science+Astrophysics+Heliophysics+Human Exploration+Robotic Exploration+Government/Top Secret+Tourism+Unknown+Communications+Resupply+Suborbital+Test Flight+Dedicated Rideshare';
    }

    var order = getParameterByName('order');
    if(!order){
      order = "asc";
    }
    _this.serverRequest =
      axios
        .get("/api/missions?page=" + pageNum +"%26orderBy=" + orderName +"%26typeName="+types+ "%26order="+ order)
        .then(function(result) {
          const mis = result.data.map(function(obj){return obj.name});
          const tt = result.data.map(function(obj){return obj.typeName});
          const id = result.data.map(function(obj){return obj.id});
          var img = "";
          if(tt != undefined){
              img = result.data.map(function(obj){
                if(obj.typeName == "Government/Top Secret"){
                  return "..static/images/missionTypes/Government.png"
                }
                if(obj.typeName)
                  return "../static/images/missionTypes/"+obj.typeName+".png"
                return "../static/images/missionTypes/none.png"
              });
          }else{
            img = result.data.map(function(obj){return "../static/images/missionTypes/Unknown.png"});
          }
          _this.setState({names: mis});
          _this.setState({images: img});
          _this.setState({type: tt});
          _this.setState({ids: id})
        })
  },

  componentWillUnmount: function() {
    this.serverRequest.abort();
  },

  render: function() {
    var index = this.props.items
    var url = "/missions?id="+this.state.ids[index];
    return <div class="thumbnail">
             <img className="pic" src={this.state.images[index]} ></img>
             <div className="caption"><a href={url}>{this.state.names[index]}</a></div>
           </div>

  }
});
function drawTables(numTables){

  var i;
  for(i=0; i<numTables; i++){

    ReactDOM.render(
      React.createElement(App, {items: i}),
      document.getElementById('col'+(i+1))
    );
    document.getElementById('col'+(i+1)).childNodes[0].className+= " thumbnail";

  }
}
drawTables(12);
console.log("https://launchlibrary.net/1.2/mission?offset=" + getParameterByName('page'))
</script>

<script>
function totalPageNum(num) {
  var total = 30;
  if(num){
    total = num;
  }
  return total;
}

function getParameterByName(name, url) {
    if (!url) {
      url = window.location.href;
    }
    name = name.replace(/[\[\]]/g, "\\$&");
    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
        results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return '';
    // return decodeURIComponent(results[2].replace(/\+/g, " "));
    return decodeURIComponent(results[2]);
}

function updateURLParameter(url, param, paramVal){
    var newAdditionalURL = "";
    var tempArray = url.split("?");
    var baseURL = tempArray[0];
    var additionalURL = tempArray[1];
    var temp = "";
    if (additionalURL) {
        tempArray = additionalURL.split("&");
        for (var i=0; i<tempArray.length; i++){
            if(tempArray[i].split('=')[0] != param){
                newAdditionalURL += temp + tempArray[i];
                temp = "&";
            }
        }
    }

    var rows_txt = temp + "" + param + "=" + paramVal;
    return baseURL + "?" + newAdditionalURL + rows_txt;
}

function doFilter(){
  $inputs = $(":checkbox:checked");
  var stringInputs = "";
  $inputs.each(function(index){
    stringInputs += $(this).attr("value") + "+";
  });
  finalString = stringInputs.substring(0, stringInputs.length-1)
  getNextPage(finalString, true);
}

function getNextPage(ccString, filter) {
    var pageNum = getParameterByName('page');
    if(pageNum == null || filter){
      pageNum = 1;
    }
    var orderName = getParameterByName('orderBy');
    if(orderName == null){
      orderName = 'name'; //default
    }
    var order = getParameterByName('order');
    if(order == null){
      order = "asc";
    }
    var stringInputs = getParameterByName('typeName');
    if(stringInputs == null || !(filter === undefined)){
      stringInputs = ccString;
    }
    if(filter === undefined){
      stringInputs = null;
    }
    if(!filter){
      ++pageNum;
    }
    console.log(pageNum);
    var currentLink = window.location.href;
    if(pageNum <= totalPageNum()){
      var newLink = updateURLParameter(currentLink, 'page', pageNum);
      newLink = updateURLParameter(newLink, 'orderBy', orderName);
      newLink = updateURLParameter(newLink, 'order', order);
      if(stringInputs != null){
        newLink = updateURLParameter(newLink, 'typeName', stringInputs);
        // newLink += '&countryCode=' + stringInputs;
      }
    }else{

      var newLink = currentLink;
    }
    window.location.href = newLink;
}

function getPrevPage() {
  var pageNum = getParameterByName('page');
    --pageNum;
    var currentLink = window.location.href;
    if(pageNum >= 1){
      var newLink = updateURLParameter(currentLink, 'page', pageNum);
    }else{
      var newLink = currentLink;
    }
    window.location.href = newLink;
}

function removeParameter(url, parameter)
{
  var urlparts= url.split('?');

  if (urlparts.length>=2)
  {
      var urlBase=urlparts.shift(); //get first part, and remove from array
      var queryString=urlparts.join("?"); //join it back up

      var prefix = encodeURIComponent(parameter)+'=';
      var pars = queryString.split(/[&;]/g);
      for (var i= pars.length; i-->0;)               //reverse iteration as may be destructive
          if (pars[i].lastIndexOf(prefix, 0)!==-1)   //idiom for string.startsWith
              pars.splice(i, 1);
      url = urlBase+'?'+pars.join('&');
  }
  return url;
}

function sortPage(value, order){
  var currentLink = window.location.href;
    var newLink = updateURLParameter(currentLink, 'orderBy', value);
      newLink = updateURLParameter(newLink, 'page', 1);
  if(!order){
    newLink = removeParameter(newLink, 'order', 'asc');
  }else{
    newLink = updateURLParameter(newLink, 'order', order);
  }

  window.location.href = newLink;
}

var next = document.getElementById("nextButton");
next.addEventListener("click", getNextPage);

var next = document.getElementById("prevButton");
next.addEventListener("click", getPrevPage);

var sort1 = document.getElementById("namea");
sort1.addEventListener("click", function(){return sortPage("name", 'asc');});

var sort1_2 = document.getElementById("named");
sort1_2.addEventListener("click", function(){return sortPage("name", "desc");});

var sort2 = document.getElementById("loca");
sort2.addEventListener("click", function(){return sortPage("launch", 'asc');});

var sort2_2 = document.getElementById("locd");
sort2_2.addEventListener("click", function(){return sortPage("launch", "desc");});
</script>

<!-- Above lines of code says that this html file will take all the HTML from base.html. -->
<!-- In base.html, I've written where the content will be put in for the html files that extend base.html. Look at index.html for an example-->

<!-- Put any html that this page will display between block content and end block -->


{% endblock %}
