
{% extends "base.html" %}
{% block styles %}
<script src="{{ url_for('static', filename='bower_components/react/react.js') }}"></script>
<script src="{{ url_for('static', filename='bower_components/react/react-dom.js') }}"></script>
<script src="{{ url_for('static', filename='js/reactable.js') }}"></script>

<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/model.css') }}">
{% endblock %}
{% block content %}

<div id="root">
  <div id="table"></div>
</div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react-dom.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/jsx">
/** @jsx React.DOM */
var App = React.createClass({

  getInitialState: function() {
    return {
      and_agencies: [],
      and_launches: [],
      and_locations: [],
      and_missions: [],
      or_agencies: [],
      or_launches: [],
      or_locations: [],
      or_missions: [],
      agencies: [],
      launches: [],
      locations: [],
      missions: []
    }
  },

  componentDidMount: function() {
    var _this = this;
   $('tbody.reactable-pagination tr td').addClass('custom-pagination');

    var request = "/api/search?term="+getParameterByName("term");

    console.log(request);
    this.serverRequest =
      axios
        .get(request)
        .then(function(result) {
          
          const and_agencies = result.data.and_search.and_agencies;
    
          const and_launches = result.data.and_search.and_launches;

          const and_locations = result.data.and_search.and_locations;

          const and_missions = result.data.and_search.and_missions;

          _this.setState({and_launches: and_launches});
          _this.setState({and_locations: and_locations});
          _this.setState({and_missions: and_missions});
          _this.setState({and_agencies: and_agencies});

          const or_agencies = result.data.or_search.or_agencies;
    
          const or_launches = result.data.or_search.or_launches;

          const or_locations = result.data.or_search.or_locations;

          const or_missions = result.data.or_search.or_missions;

          _this.setState({or_launches: or_launches});
          _this.setState({or_locations: or_locations});
          _this.setState({or_missions: or_missions});
          _this.setState({or_agencies: or_agencies});

          _this.setState({agencies: and_agencies});
          _this.setState({locations: and_locations});
          _this.setState({missions: and_missions});
          _this.setState({launches: and_launches});

        })

  },

  componentWillUnmount: function() {
    this.serverRequest.abort();
  },

  render: function() {
    var and_agencies = this.state.and_agencies;
    var and_launches = this.state.and_launches;
    var and_locations = this.state.and_locations;
    var and_missions = this.state.and_missions;

    var or_agencies = this.state.or_agencies;
    var or_launches = this.state.or_launches;
    var or_locations = this.state.or_locations;
    var or_missions = this.state.or_missions;
    var name = "name";
    var highlight_list = "highlight_list";
    var search = "Search Results for \' " + getParameterByName("term") + "\'";
    var Table = Reactable.Table,
      Thead = Reactable.Thead,
      Th = Reactable.Th,
      Tr = Reactable.Tr,
      Td = Reactable.Td;
      unsafe = Reactable.unsafe;

    return <div className="col-md-10 col-md-offset-1">
          <form id="searchbar">
             <input type="text" name="term" placeholder="Search.."></input>
           </form>
          <h1 class="header">Search Results</h1>
          <h3>AND result</h3>
          <Table className="table" id="table" itemsPerPage={10} pageButtonLimit={5} >
          <Thead>
            <Th column="name">
              <strong className="name-header">Agency</strong>
            </Th>
            <Th column="age">
              <strong className="age-header">Context</strong>
            </Th>
          </Thead>
          {and_agencies.map(function(obj) {
            return <Tr>
                <Td column="name" >
                   <a href={"/agencies?id=" + obj.id}>{obj.name}</a>
                </Td>
                <Td column="age">{unsafe(obj.highlight_list)}</Td>
            </Tr>
          })}
          </Table>
      <Table className="table" id="table" itemsPerPage={10} pageButtonLimit={5}>
          <Thead>
            <Th column="name">
              <strong className="name-header">Launch</strong>
            </Th>
            <Th column="age">
              <strong className="age-header">Context</strong>
            </Th>
          </Thead>
          {and_launches.map(function(obj) {
            return <Tr>
                <Td column="name">
                   <a href={"/launches?id=" + obj.id}>{obj.name}</a>
                </Td>
                <Td column="age">{unsafe(obj.highlight_list)}</Td>
            </Tr>
          })}
      </Table>
      <Table className="table" id="table" itemsPerPage={10} pageButtonLimit={5}>
          <Thead>
            <Th column="name">
              <strong className="name-header">Location</strong>
            </Th>
            <Th column="age">
              <strong className="age-header">Context</strong>
            </Th>
          </Thead>
          {and_locations.map(function(obj) {
            return <Tr>
                <Td column="name">
                   <a href={"/locations?id=" + obj.id}>{obj.name}</a>
                </Td>
                <Td column="age">{unsafe(obj.highlight_list)}</Td>
            </Tr>
          })}
      </Table>
      <Table className="table" id="table" itemsPerPage={10} pageButtonLimit={5}>
          <Thead>
            <Th column="name">
              <strong className="name-header">Mission</strong>
            </Th>
            <Th column="age">
              <strong className="age-header">Context</strong>
            </Th>
          </Thead>
          {and_missions.map(function(obj) {
            return <Tr>
                <Td column="name">
                   <a href={"/missions?id=" + obj.id}>{obj.name}</a>
                </Td>
                <Td column="age">{unsafe(obj.highlight_list)}</Td>
            </Tr>
          })}
      </Table>

      <h3>OR result</h3>
          <Table className="table" id="table" itemsPerPage={10} pageButtonLimit={5}>
          <Thead>
            <Th column="name">
              <strong className="name-header">Agency</strong>
            </Th>
            <Th column="age">
              <strong className="age-header">Context</strong>
            </Th>
          </Thead>
          {or_agencies.map(function(obj) {
            return <Tr>
                <Td column="name" >
                   <a href={"/agencies?id=" + obj.id}>{obj.name}</a>
                </Td>
                <Td column="age">{unsafe(obj.highlight_list)}</Td>
            </Tr>
          })}
          </Table>
      <Table className="table" id="table" itemsPerPage={10} pageButtonLimit={5}>
          <Thead>
            <Th column="name">
              <strong className="name-header">Launch</strong>
            </Th>
            <Th column="age">
              <strong className="age-header">Context</strong>
            </Th>
          </Thead>
          {or_launches.map(function(obj) {
            return <Tr>
                <Td column="name">
                   <a href={"/launches?id=" + obj.id}>{obj.name}</a>
                </Td>
                <Td column="age">{unsafe(obj.highlight_list)}</Td>
            </Tr>
          })}
      </Table>
      <Table className="table" id="table" itemsPerPage={10} pageButtonLimit={5}>
          <Thead>
            <Th column="name">
              <strong className="name-header">Location</strong>
            </Th>
            <Th column="age">
              <strong className="age-header">Context</strong>
            </Th>
          </Thead>
          {or_locations.map(function(obj) {
            return <Tr>
                <Td column="name">
                   <a href={"/locations?id=" + obj.id}>{obj.name}</a>
                </Td>
                <Td column="age">{unsafe(obj.highlight_list)}</Td>
            </Tr>
          })}
      </Table>
      <Table className="table" id="table" itemsPerPage={10} pageButtonLimit={5}>
          <Thead>
            <Th column="name">
              <strong className="name-header">Mission</strong>
            </Th>
            <Th column="age">
              <strong className="age-header">Context</strong>
            </Th>
          </Thead>
          {or_missions.map(function(obj) {
            return <Tr>
                <Td column="name">
                   <a href={"/missions?id=" + obj.id}>{obj.name}</a>
                </Td>
                <Td column="age">{unsafe(obj.highlight_list)}</Td>
            </Tr>
          })}
      </Table>
    </div>
  }
});

function drawInstance(){
  console.log('want to draw')
  ReactDOM.render(
    React.createElement(App, {items: 0}),
    document.getElementById('table')
  );
}
drawInstance();

</script>
<script>
function getParameterByName(name, url) {
    if (!url) {
      url = window.location.href;
    }
    name = name.replace(/[\[\]]/g, "\\$&");
    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
        results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return '';
    return decodeURIComponent(results[2].replace(/\+/g, " "));
}
</script>

<!-- Above lines of code says that this html file will take all the HTML from base.html. -->
<!-- In base.html, I've written where the content will be put in for the html files that extend base.html. Look at index.html for an example-->

<!-- Put any html that this page will display between block content and end block -->


{% endblock %}