
{% extends "base.html" %}
{% block styles %}
<script src="{{ url_for('static', filename='bower_components/react/react.min.js') }}"></script>
<script src="{{ url_for('static', filename='bower_components/react/react-dom.min.js') }}"></script>

<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/model.css') }}">
<link rel="stylesheet" href="https://unpkg.com/react-table@latest/react-table.css">
{% endblock %}
{% block content %}

<div id="root"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react-dom.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/jsx">
/** @jsx React.DOM */
var App = React.createClass({

  getInitialState: function() {
    return {
      agencies: [],
      launches: [],
      locations: [],
      missions: []
    }
  },

  componentDidMount: function() {
    var _this = this;
   

    var request = "http://127.0.0.1:5000/api/search?term=government";

    console.log(request);
    this.serverRequest =
      axios
        .get(request)
        .then(function(result) {
          
          const agencies = result.data.search_results.agencies;
    
          const launches = result.data.search_results.launches;

          const locations = result.data.search_results.locations;

          const missions = result.data.search_results.missions;

          _this.setState({launches: launches});
          _this.setState({locations: locations});
          _this.setState({missions: missions});
          _this.setState({agencies: agencies});


        })

  },

  componentWillUnmount: function() {
    this.serverRequest.abort();
  },

  render: function() {
    var agencies = this.state.agencies;
    const ReactTable = window.ReactTable.default;

    const columns = [{
      header: 'Agencies',
      columns: [{
        header: 'Name',
        accessor: 'name'
      }, {
        header: 'Context',
        id: 'context',
        accessor: 'highlight_list'
      }]
    }]

    return <div>
      <ReactTable getTdProps={(state, rowInfo, column, instance) => {
    return {
      onClick: e => {
        console.log('A Td Element was clicked!')
        console.log('it produced this event:', e)
        console.log('It was in this column:', column)
        console.log('It was in this row:', rowInfo)
        console.log('It was in this table instance:', instance)
      }
    }
  }} pageSize={10} className="-striped -highlight"
        data={agencies}
        columns={columns}
      ></ReactTable>
    </div>
  }
});
function drawInstance(){
  console.log('want to draw')
  ReactDOM.render(
    React.createElement(App, {items: 0}),
    document.getElementById('root')
  );
}
drawInstance();

</script>
<script>
    var ReactTable = window.ReactTable.default
  </script>


<!-- Above lines of code says that this html file will take all the HTML from base.html. -->
<!-- In base.html, I've written where the content will be put in for the html files that extend base.html. Look at index.html for an example-->

<!-- Put any html that this page will display between block content and end block -->


{% endblock %}